@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --verde-neon: #39FF14;
    --azul-oscuro: #03045e;
    --azul-medio: #0d0d7a;
    --azul-claro: #0a0a8a;
    --negro: #000;
    --blanco: #fff;

body {
    background-color: var(--gris-fondo);
    font-family: 'Bebas Neue', sans-serif;
}

.navbar {
    background-color: #03045e !important;
    border-bottom: 2px solid #62ff00;
}

.navbar .nav-link {
    color: white !important;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: #62ff00 !important;
}

.navbar .nav-link.active {
    color: #62ff00 !important;
    font-weight: bold;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    color: var(--azul-oscuro) !important;
}

h2{
    color: var(--azul-oscuro) !important; 
    font-size: 1.5rem;
}

.btn-custom {
    background: #03045E;
    color: #62ff00;
    padding: 18px 45px;
    border-radius: 15px;
    font-weight: 600;
}

.btn-custom:hover {
    background: #03045e;
    /* color al pasar el mouse */
    color: white;
}

.stats-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-box {
    width: 55px;
    height: 55px;
    background: var(--verde-neon);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--azul-oscuro);
}

.image-frame {
    background: #03045E;
    padding: 35px;
}

.image-frame img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


@media(max-width:768px) {
    .title {
        font-size: 2.5rem;
    }

    .hero {
        padding: 40px 0;
    }
}